{% extends 'base.html' %}
{% block title %}Trains - KL{% endblock %}
{% load index %}
{% block tips %}
    <h4>Список поездов:</h4>
    <ul class="separator" id="tips" style="list-style-type: none; padding: 0;">
        <li>Клик номера поезда для его<br>расписания</li>
        <li>Клик по названию станции для<br>карты и проходящих поездов</li>
        <li>Если поезд сегодня не ходит,<br>то он тусклее</li>
    </ul>
{% endblock %}
{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <div class="col py-1" style="overflow-y: auto; height: 100vh;">
        <table class="table table-striped"
               id="table" data-sortable="true">
            <thead>
                    <th>Номер</th>
                    <th>Линия</th>
                    <th>Отпр.</th>
                    <th></th>
                    <th>Приб.</th>
                    <th></th>
                    <th>Дни недели</th>
            </thead>
            <tbody>
            {% for objects in trains_list %}
                {% today objects.days as tt %}
                <tr {% if not tt %} style="opacity: 0.5"{% endif %}>
                    <td><a href="/trains/{{ objects.num }}" style="text-decoration: none">{{ objects.num }}</a></td>
                    <td>
                        <i class="bi bi-circle-fill" style="color:{{ objects.line.color }}"></i>
                        <a style="font-weight:bold;color:{{ objects.line.color }}">{{ objects.line.name }}</a>
                    </td>
                    <td><a href="/stations/{{ objects.from_station.slug }}"
                           style="text-decoration: none">{{ objects.from_station.name }}</a></td>
                    <td>{% keys_to_list objects.timetable as time %}{{ time.0 }}</td>
                    <td><a href="/stations/{{ objects.to_station.slug }}"
                           style="text-decoration: none">{{ objects.to_station.name }}</a></td>
                    <td>{{ time|last }}</td>
                    <td>
                        {% for day in objects.days %}
                            {% day_color day as today %}
                            {% if weekday|indexone:day == "Sa" or weekday|indexone:day == "Su" %}
                                {% if today == True %}
                                    <a style="color: #e30a0a; font-weight: bold">{{ weekday | indexone:day }}</a>
                                {% else %}
                                    <a style="color: #ff6464">{{ weekday | indexone:day }}</a>
                                {% endif %}
                            {% else %}
                                {% if today == True %}
                                    <a style="font-weight: bold">{{ weekday | indexone:day }}</a>
                                {% else %}
                                    <a style="color: #646464">{{ weekday | indexone:day }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}