{% extends 'base.html' %}
{% block title %}Станции - КЛ{% endblock %}
{% block tips %}
    <h4>Станции:</h4>
    <ul class="separator" id="tips" style="list-style-type: none; padding: 0;">
        <li>Поиск работает и с латиницей</li>
        <li>Клик по имени даст страницу <br>c картой и поездами</li>
        <li>А вот красивая <a href="/404">404</a> страница</li>
    </ul>
{% endblock %}
{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <div class="col py-1" style="overflow-y: auto; height: 100vh;">
        <table class="table table-striped"
               id="table"
               data-search="true">
            <thead>
            <th data-field="name">Название</th>
            <th data-field="line">Линии</th>
            </thead>
            <tbody>
            {% for objects in objects_list %}
                <tr>
                    <td>
                        <a href="/stations/{{ objects.slug }}" style="text-decoration: none">
                            {{ objects.name }}
                        </a>
                    </td>
                    <td>
                        {% for line in objects.line.all %}
                            <i class="bi bi-circle-fill" style="color:{{ line.color }}"></i><a style="font-weight:bold;color:{{ line.color }}"> {{ line.name }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $(function () {
                $('#table').bootstrapTable()
            })
        });
    </script>
{% endblock %}