<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Page not found - KL</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT Mono">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body style="background-color: #434242;text-decoration:white!important;">
<h1 style="font-family: 'PT Mono';color:white;font-weight: bold;text-align: center;">404. Page was not found.</h1>
<a href="/" style="color:white;">
    <h1 style="font-family: 'PT Mono';color:white;font-weight: bold;text-align: center;">Back to main page</h1>
    <img src="{% static 'images/404.png' %}" alt="404" style="width: 100%"/></a>

</body>
</html>