{% extends 'stations/base.html' %}owi
{% block title %}Stations{% endblock %}

{% block content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <div class="col py-3" style="overflow-y: auto; height: 100vh;">
        <table class="table table-striped"
               id="table"
               data-search="true">
            <thead>
            <th data-field="name">Name</th>
            </thead>
            <tbody>
            {% for objects in objects_list %}
                <tr>
                    <td><a href="/stations/{{ objects.slug }}" style="text-decoration: none">{{ objects.name }}</a></td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $(function () {
                $('#table').bootstrapTable()
            })
        });
    </script>
{% endblock %}